.navbar{
  display:flex;
  justify-content: space-between;
  font-weight:600;
  font-size:1.5rem;
  color:#6f72ed;
  

}
.leftNav ,.rightNav{
  display:flex;
  padding:0.6rem;
  align-items: center;
}
.searchBar{
  display:flex;
  align-items:center;
}
body{
  background-color: rgb(246, 246, 246);
}
body::-webkit-scrollbar{
  
  display:none;
}