.navbar {
  display: flex;
  justify-content: space-between;
  font-weight: 600;
  font-size: 1.5rem;
  color: #6f72ed;
}
.leftNav,
.rightNav {
  display: flex;
  padding: 0.6rem;
  align-items: center;
}
.searchBar {
  display: flex;
  align-content: center;
}
body {
  background-color: rgb(246, 246, 246);
}
body::-webkit-scrollbar {
  font-family: var(--font-family);
  display: none;
}
.notFound {
  margin: 10rem;
  text-align: center;
}
.notFound > h1 {
  color: #6f72ed;
}

@media only screen and (max-width: 650px) {
  .stockApp {
    margin-left: 0 50px;
  }
  .stockDetails {
    font-size: 10px !important;
    font-weight: 400;
  }
}
/*****Error**/
.errorPage {
  margin: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.errorPage > h3 {
  color: #6f72ed;
  font-weight: 500;
}
.error-img {
  width: 16rem;
  height: 16rem;
}
